/* You can add global styles to this file, and also import other style files */
.afternoon‐apricot
    background-color: #ff796e;

.mountain-breeze
    background-color: #19ac8a;

.mojo
    background-color: #bc3543;

.desert-flower
    background-color: #d66f76;

.aqua-ocean
    background-color: #6666FF;

.purple‐haze
    background-color: #95a2da;